{% for product in collection.products %}
  <div class="animate-appear flex w-full justify-center md:[&:nth-child(odd)]:justify-end md:justify-start lg:justify-start lg:[&:nth-child(odd)]:justify-end">
    <div class="flex flex-col justify-end h-full w-fit">
      <a href="{{ product.url }}">
        <div class="flex flex-col">
          {% if product.featured_image %}
            <div class="">
              <img
                class="object-cover object-center aspect-[1/1.4] h-full w-full lg:h-[810px] lg:w-[540px]"
                src="{{  product.featured_image | image_url  }}"
                width="{{ image.width }}"
                height="{{ image.height }}"
                loading="lazy"
              >
            </div>
            {% else %}
            <div class="">
              <img
                class="object-cover object-center aspect-[1/1.4] h-full w-full lg:h-[810px] lg:w-[540px]"
                src="{{ 'wilburlogo2023.png' |  asset_url  }}"
                width="{{ image.width }}"
                height="{{ image.height }}"
                loading="lazy"
              >
            </div>
          {% endif %}

          <div class="flex justify-between">
            <div>{{ product.title }}</div>
            <div>
              {{ product.price | money_with_currency }}
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
{% endfor %}
