<!-- option  -->



<div class="flex flex-row gap-[5px] items-baseline product-option-row product-option-row-option">
  <label class="grey text-[10px] lg:text-[12px]" for="{% if type == 'select' %}select-{{ option.name}}{% endif %}">
    {% if option.name == "Color" %}
      Colour
    {% else %}

      {{ option.name }}

    {% endif %}



  </label>


  <div class="option-values flex text-[8px] lg:text-[10px]">

    {% if type != 'select' %}

      <select class="flex p-[5px] w-fit" name="{{ option_name }}" id="select-{{ option_name }}">

        {% for value in option.values %}
          <option value="{{ value }}">{{ value.name }}</option>
        {% endfor %}
        
      </select>

    {% else %}
      {% comment %} {% for variant in product.variants %}
        {% for value in option.values %}
          {% if value.name == variant.title %}
            {{ value }}
            {% assign radio_id = 'option-' | append: option_name | append: '-' | append: value | handleize %}
            <div class="product-option">


              <input
                class="variant-radio"
                {% if forloop.index == 1 and variant.inventory_quantity > 0 %}
                checked="checked"
                {% endif %}
                {% if variant.inventory_quantity <= 0 %}
                disabled
                {% endif %}
                id="{{ radio_id }}"
                type="radio"
                name="{{ option_name }}"
                value="{{ value }}"
                {% if value == selected %}checked{% endif %}>
              <label for="{{ radio_id }}">
                {{ value }}



              </label>

            </div>
          {% endif %}
        {% endfor %}
      {% endfor %} {% endcomment %}
      No Variants
    {% endif %}



  </div>
</div>