<!doctype html>
<!-- [if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif] -->
<!-- [if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif] -->
<!-- [if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif] -->
<!-- [if IE 9 ]><html class="ie9 no-js"> <![endif] -->
<!-- [if (gt IE 9)|!(IE)]><! -->
<html class="no-js">
  <!-- <![endif] -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if template == 'index' %}
      <title>
        {{ shop.name }}
        |
        {{ page_title }}
      </title>
    {% elsif template == '404' %}
      <title>
        Page Not Found |
        {{ shop.name }}
      </title>
    {% else %}
      <title>
        {{ page_title }}
        |
        {{ shop.name }}
      </title>
    {% endif %}
    {% if page_description %}
      <meta name="description" content="{{ page_description }}">
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width">
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'output.css' | asset_url | stylesheet_tag }}

  
  </head>
  <body
    id="{{ page_title | handle }}"
    class=" text-grey-900 template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}"
  >
    {% comment %}  styles for body wrap are in css due tw error {% endcomment %}
    {% section 'live-cart' %}

    <div class="js-main ">
      {% render 'header' %}
      {{ content_for_layout }}

      {% section 'footer' %}
    </div>

    <script type="application/json" data-ajax-cart-initial-state>
      {{ cart | json }}
    </script>

    <script type="module">
      import '{{ "liquid-ajax-cart-v2.1.1.js" | asset_url }}';
    </script>
    

    <script src="{{ 'shop.js' | asset_url }}" defer></script>
    <script src="{{ 'cart.js' | asset_url }}" defer></script>


  </body>
</html>
